// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: rgb(42, 80, 117);
$primary-invert: findColorInvert($primary);
$primary-light: rgb(135, 169, 204);
$primary-light-invert: findColorInvert($primary-light);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "primary-light": ($primary-light, $primary-light-invert),
    "info": ($primary-light, $primary-light-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";